@{
    ViewData["Title"] = "Home Page";
}

@model IndexViewModel

<div class="col-2">
    <h3>Категории</h3>
    <hr/>
    <div class="list-group">


        @* Stopped video here at 1:03:11 *@


        <a href="#" class="list-group-item list-group-item-action">A second link item</a>
        <a href="#" class="list-group-item list-group-item-action">A third link item</a>
        <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
        <a class="list-group-item list-group-item-action disabled">A disabled link item</a>
    </div>
</div>
<div class="col-10">
    @if (Model.Books != null && Model.Books.Count() > 0)
    {
        <div class="row">
            @foreach (var item in Model.Books)
            {
                <div class="card col-4" style="width: 18rem;">
                    <img src="@item.ImageUrl" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text">@item.Author</p>
                        <p class="card-text">@Html.Raw(@item.Description)</p>
                        <span>@item.CreatedDate</span>
                        @* <a href="#" class="btn btn-primary">Go somewhere</a> *@
                    </div>
                </div>
            }
        </div>
    }
</div>


