@{
    ViewData["Title"] = "Home Page";
}

@model IndexViewModel

<div class="col-2">
    <div class="row">
        <h3>Категории</h3>
        <hr />
        <div class="list-group">
            @if (Model.Categories != null)
            {
                foreach (var item in Model.Categories)
                {
                    <a href="#" class="list-group-item list-group-item-action">@item.Name</a>
                }
            }
        </div>
        <h3>Жанры</h3>
        <hr />
        <div class="list-group">
            @if (Model.Genres != null)
            {
                foreach (var item in Model.Genres)
                {
                    <a href="#" class="list-group-item list-group-item-action">@item.Name</a>
                }
            }
        </div>
    </div>
    
</div>
<div class="col-10">
    @if (Model.Books != null && Model.Books.Count() > 0)
    {
        <div class="row">
            @foreach (var item in Model.Books)
            {
                <div class="card col-4" style="width: 18rem;">
                    <img src="@item.ImageUrl" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <hr/>
						@if (item.BookGenres.Count() > 0)
						{
							@foreach (var bookGenre in item.BookGenres)
							{
								<span class="badge bg-primary rounded-pill">@bookGenre.Genre.Name</span>
							}
						}
						else
						{
							<span class="badge bg-danger rounded-pill">Нету</span>
						}
                        <hr/>
                        <strong>@item.Category.Name</strong><br/>
                        <p class="card-text">@item.Author</p>
                        <p class="card-text">@Html.Raw(@item.Description)</p>
                        <span>@item.CreatedDate</span>
                        <br>
                        <a asp-controller="Library" asp-action="Details" asp-route-bookId="@item.Id" class="btn btn-outline-success w-100">Подробнее</a>
                        <a asp-controller="Library" asp-action="Edit" asp-route-bookId="@item.Id" class="btn btn-outline-secondary w-100">Редактировать</a>
                        <a asp-controller="Library" asp-action="Delete" asp-route-bookId="@item.Id" class="btn btn-outline-danger w-100">Удалить</a>
                    </div>
                </div>
            }
        </div>
    }
</div>


